.link-font-awesome {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.link-kofi {
  background: rgb(70, 124, 235);
  background: linear-gradient(
    90deg,
    rgba(111, 159, 233, 1) 0%,
    rgba(70, 124, 235, 1) 100%
  );
}
.link-paypal {
  background: rgb(1, 150, 218);
  background: linear-gradient(
    90deg,
    rgba(1, 150, 218, 1) 0%,
    rgba(0, 30, 103, 1) 100%
  );
}
.link-revolut {
  background: rgb(79, 85, 241);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(79, 85, 241, 1) 50%,
    rgba(79, 85, 241, 1) 100%
  );
}
